<app-header>
    <p content>Dodawanie kontaktu.</p>
</app-header>

<form [formGroup]="contactForm">

    <div class="row form-group">
        <div class="col-sm-12 col-xl-3">
            <label for="nazwisko">Nazwisko</label>
            <input formControlName="surname" id="nazwisko" class="form-control" placeholder="Nazwisko" autofocus>
        </div>
        <div class="col-sm-12 col-xl-3">
            <label for="imie">Imię</label>
            <input formControlName="firstName" id="imie" class="form-control" placeholder="Imię" autofocus>
        </div>
        <div class="col-sm-12 col-xl-3">
            <label for="telefon">Telefon</label>
            <input formControlName="phoneNumber" id="telefon" class="form-control" placeholder="Nr telefonu" autofocus>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button (click)="addContact()" [disabled]="contactForm.invalid" class="btn btn-sm btn-info">Zapisz</button> 
            <button (click)="contactForm.reset()" class="btn btn-sm btn-dark">Wyczyść</button> 
            <button [routerLink]="['/contacts']" class="btn btn-sm btn-info">Wstecz</button>
        </div>
    </div>
    
</form>

<!-- <pre>
    {{ contactForm.value | json }}
</pre>

<pre>
    {{ contactForm.status }}
</pre> -->


